<h1>Tillgängliga mediciner</h1>
<p><i>Medicinlistan går inte att ändra</i></p>
<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Medicin</th>
        <th>Aktuell?</th>
      </tr>
    </thead>
    <tr ng-repeat="medicine in medicines">
      <td>{{medicine.name}}</td>
      <td><input type="checkbox" name="med" ng-model="medicine.isActive" value="{{medicine.id}}" /></td>
    </tr>
  </table>

</form>


<h1>Aktuella medicindoser</h1>
<p>Nedan listas aktuella doser och klockslag för varje medicin och du har möjlighet att ändra dos/klockslag</p>
<h2>Regelbunden medicinering</h2>
<form novalidate="true" ng-model="medicineDoses">
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Medicin</th>
      <th>Dos</th>
      <th>Klockslag</th>
    </tr>
  </thead>
  <tr ng-repeat="medicine in medicineDoses">
    <td>{{medicine.medicineName}}</td>
    <td><input type="text" ng-model="medicine.dose" /></td>
    <td><input type="text" ng-model="medicine.time"/></td>
  </tr>
 </table>
 <button class="btn btn-default" ng-click="addRowDoses()">Ny rad</button>
 <button class="btn btn-primary" ng-click="saveRegularDose()">Spara dosförändringar</button>
 <div class="alert alert-success alert-dismissible" style="margin-top: 2em;" ng-class="{collapse:!regularDoseChangesSaved}" role="alert" id="saveCompletedInfo">
   De nya doserna har sparats
 </div>
</form>
<h2>Mediciner att ge vid behov</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Medicin</th>
      <th>Dos</th>
      <th>Ev. klockslag</th>
    </tr>
  </thead>
  <tr ng-repeat="medicine in medicinesWhenNeeded">
    <td>{{medicine.medicineName}}</td>
    <td><input type="text" value="{{medicine.dose}}"/></td>
    <td><input type="time" value="{{medicine.time}}"/></td>
  </tr>
</table>
<button class="btn btn-primary" ng-click="saveWhenNeededDose()">Spara</button>
