<h1>Tillgängliga mediciner</h1>
<p><i>Medicinlistan går inte att ändra</i></p>
<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Medicin</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tr ng-repeat="medicine in medicines | filter: { isActive: '1' }">
      <td>
        <span ng-if="medicine.isNew"><input type="text" ng-model="medicine.name" /></span>
        <span ng-if="!medicine.isNew">{{medicine.name}}</span>
      </td>
      <td>
        <span class="glyphicon glyphicon-trash" style="cursor:pointer;" ng-click="inactivateMedicine(medicine)">&nbsp;</span>
      </td>
    </tr>
  </table>
  <!-- // Add new row -->
  <button class="btn btn-default" ng-click="addRowMedicines()">Ny rad</button>
  <button class="btn" ng-class="{'btn-disabled': medicinesSaved, 'btn-primary':!medicinesSaved}" ng-click="saveMedicines()" >
    <span class="glyphicon" ng-class="{'glyphicon-floppy-saved': medicinesSaved, 'glyphicon-floppy-disk':!medicinesSaved}" aria-hidden="true"></span>
    Spara nya mediciner
  </button>
  <div class="alert alert-success alert-dismissible" style="margin-top: 2em;" ng-class="{collapse:!medicinesSaved}" role="alert" id="saveCompletedInfo">
    De nya medicinerna har sparats
  </div>
</form>


<h1>Aktuella medicindoser</h1>
<p>Nedan listas aktuella doser och klockslag för varje medicin och du har möjlighet att ändra dos/klockslag</p>
<h2>Regelbunden medicinering</h2>
<form novalidate="true" ng-model="medicineDoses">
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Medicin</th>
      <th>Dos</th>
      <th>Klockslag</th>
    </tr>
  </thead>
  <tr ng-repeat="medicine in medicineDoses">
    <td>
      <select ng-if="medicine.isNew" ng-change="medicineForNewDoseSelected(this)" ng-model="medicine" ng-options="medicineType as medicineType.name for medicineType in medicines">
      </select>
      <span ng-if="!medicine.isNew">{{medicine.medicineName}}</span>
    </td>
    <td><input type="text" ng-change="regularDoseChangeMade();" ng-model="medicine.dose" /></td>
    <td><input type="text" ng-change="regularDoseChangeMade();" ng-model="medicine.time"/></td>
  </tr>
</table>
 <!-- // Add new row -->
 <button class="btn btn-default" ng-click="addRowDoses()">Ny rad</button>

 <button class="btn" ng-class="{'btn-disabled': regularDoseChangesSaved, 'btn-primary':!regularDoseChangesSaved}" ng-click="saveRegularDose()" >
   <span class="glyphicon" ng-class="{'glyphicon-floppy-saved': regularDoseChangesSaved, 'glyphicon-floppy-disk':!regularDoseChangesSaved}" aria-hidden="true"></span>
   Spara dosförändringar
 </button>
 <div class="alert alert-success alert-dismissible" style="margin-top: 2em;" ng-class="{collapse:!regularDoseChangesSaved}" role="alert" id="saveCompletedInfo">
   De nya doserna har sparats
 </div>
</form>

<h2>Mediciner att ge vid behov</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Medicin</th>
      <th>Dos</th>
      <th>Ev. klockslag</th>
    </tr>
  </thead>
  <tr ng-repeat="medicine in medicinesWhenNeeded">
    <td>
      <select ng-if="medicine.isNew" ng-change="medicineForNewWhenNeededDoseSelected(this)" ng-model="medicine" ng-options="medicineType as medicineType.name for medicineType in medicines">
      </select>
      <span ng-if="!medicine.isNew">{{medicine.medicineName}}</span>
    </td>
    <td><input type="text" ng-change="whenNeededDoseChangeMade();" ng-model="medicine.dose"/></td>
    <td><input type="text" ng-change="whenNeededDoseChangeMade();" ng-model="medicine.time"/></td>
  </tr>
</table>
<button class="btn btn-default" ng-click="addRowWhenNeededDoses()">Ny rad</button>
<button class="btn" ng-class="{'btn-disabled': whenNeededDoseChangesSaved, 'btn-primary':!whenNeededDoseChangesSaved}" ng-click="saveWhenNeededDose()" >
  <span class="glyphicon" ng-class="{'glyphicon-floppy-saved': whenNeededDoseChangesSaved, 'glyphicon-floppy-disk':!whenNeededDoseChangesSaved}" aria-hidden="true"></span>
  Spara dosförändringar
</button>
<div class="alert alert-success alert-dismissible" style="margin-top: 2em;" ng-class="{collapse:!whenNeededDoseChangesSaved}" role="alert" id="saveWhenNeededCompletedInfo">
  De nya vid behov-doserna har sparats
</div>
