<h1>Mediciner</h1>

    <script type="text/ng-template" id="saveConfirmation.html">
        <div class="modal-header">
            <h3 class="modal-title">Bekräfta given medicin</h3>
        </div>
        <div class="modal-body">
        	<p>Genom att klicka på OK nedan bekräftar du att du vill spara nedanstående medicinering given av <strong>{{medicationToStore[0].givenBy}}</strong></p>
            <ul>
                <li ng-repeat="med in medicationToStore">
                    {{med.medicineName}}, {{med.dose}}
                </li>
            </ul>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <div class="row">
    	<div class="col-md-4"><h4>Visa medicinlista för</h4></div>
        <div class="col-md-4">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false" ng-change="dateChanged();" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-6">
        	Loggar medicinering för
        	<select ng-model="currentAssistant" ng-options="assistant as assistant.name for assistant in assistants">
        	</select>
        </div>
    </div>
    <h3>Regelbunden medicinering</h3>
<p>
	<form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Medicin given?</th>
					<th>Tid</th>
					<th>Medicin</th>
					<th>Dos</th>
					<th>Given av</th>
				</tr>
			</thead>
			<tr ng-repeat="medicine in medicines" ng-class="{ medicineGiven: medicine.isGiven, stateStored: medicine.givenMedicineStored}">
				<td><input type="checkbox" name="med" ng-model="medicine.isGiven" ng-disabled="medicine.givenMedicineStored" value="{{medicine.id}}" ng-change="toggleMedicineGiven(medicine)" /></td>
				<td>{{medicine.time}}</td>
				<td class="medicineName">{{medicine.medicineName}}</td>
				<td>{{medicine.dose}}</td>
				<td>{{medicine.givenBy}} {{medicine.givenTime | date:short}}</td>
			</tr>
		</table>
        <h3>Medicinering vid behov</h3>
        <div class="btn-group">
          <button type="button" class="btn btn-default">{{getCurrentWhenNeededMedicine()}}</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="medicine in whenNeededMedicines"><a ng-click="selectWhenNeededMedicine(medicine)">{{medicine.medicineName}} ({{medicine.dose}})</a></li>
          </ul>
        </div>        
        <ul>
            <li ng-repeat="logEntry in whenNeededMedicineLog">{{logEntry.medicineName}}, {{logEntry.givenBy}} {{logEntry.givenTime}}</li>
        </ul>

		<button class="btn btn-primary" ng-disabled="saveDisabled" ng-click="openSaveConfirmation()">
			<span class="glyphicon" ng-class="{'glyphicon-floppy-saved': storeComplete,'glyphicon-floppy-disk':!storeComplete}" aria-hidden="true"></span> Spara
		</button>
		
	</form>
	

</p>