<!-- <div class="page-content"> -->

	<h1>Mat</h1>

<div class="row">
	<div class="col-md-3">
		<h4>Vem gav maten?</h4>
	</div>
    <div class="col-md-6">
    	<!--
    	<div class="btn-group">
		  <button type="button" class="btn btn-default">{{getCurrentAssistantName()}}</button>
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
		    <li ng-repeat="assistant in assistants"><a ng-click="selectAssistant(assistant)">{{assistant.name}}</a></li>
		  </ul>
		</div>
		-->

    	<select ng-model="currentAssistant" ng-options="assistant as assistant.name for assistant in assistants">
    	</select>

    </div>
</div>
<form>
	<div class="row">
		<div class="col-md-3">
			<h4>Vilken mat/dryck har givits?</h4>
		</div>
		<div class="col-md-4">
			<span class="btn-group btn-group-lg" role="group">
			  <button type="button" class="btn" ng-class="{'btn-selected':feedingToStore.foodType==foodType, 'btn-default':feedingToStore.foodType!=foodType}" ng-repeat="foodType in foodTypes" ng-click="selectFoodType(foodType)">
					<span class="glyphicon {{foodType.icon}}" aria-hidden="true"></span>
					{{foodType.name}}
				</button>
			</span>
			<div name="spacer" style="height: 2em;">&nbsp;</div>
			<span class="input-group input-group-lg">
			  <input type="number" class="form-control" ng-model="feedingToStore.amount" placeholder="Given mängd" step="5" min="0" aria-describedby="mealAmount" ng-click="changeMade();">
			  <span class="input-group-addon" id="mealAmount">ml</span>
			</span>
		</div>
	</div> <!-- /row -->
	<div class="row">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-4">
			<div name="spacer" style="height: 2em;">&nbsp;</div>
			<span class="input-group input-group-lg">
				<input type="time" class="form-control" placeholder="Tid" ng-model="feedingToStore.givenTime"/> <!-- NEW! Not managed in controller! -->
			</span>
		</div>
	</div> <!-- /row -->
	<div class="row">
			<div class="col-md-3">&nbsp;</div> <!-- Space to the left of save button to align it properly-->
			<div class="col-md-4">
				<div name="spacer" style="height: 2em;">&nbsp;</div>
				<button class="btn btn-primary btn-lg" ng-disabled="saveDisabled" ng-click="saveChanges()">
					<span class="glyphicon" ng-class="{'glyphicon-floppy-saved': allChangesSaved,'glyphicon-floppy-disk':!allChangesSaved}" aria-hidden="true"></span> Spara
				</button>
				<div class="alert alert-success alert-dismissible" style="margin-top: 2em;" ng-class="{collapse:!allChangesSaved}" role="alert" id="saveCompletedInfo">
					Matningen har sparats
				</div>
			</div>
	</div> <!-- /row -->
	<div name="spacer" style="height: 2em;">&nbsp;</div>

		<div class="alert alert-danger alert-dismissible" style="margin-top: 2em;" ng-class="{collapse:errors.length==0}" role="alert" id="saveFailedAlert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<ul>
				<li ng-repeat="error in errors">{{error}}</li>
			</ul>
		</div>

</form>

	<h3>Sparad mat/dryck {{startDate | date:'d MMM'}} 06:00 - {{endDate | date:'d MMM'}} 06:00</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mat</th>
					<th>Mängd</th>
					<th>Given av</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tr ng-repeat="meal in meals">
				<td>{{meal.name}}</td>
				<td>{{meal.amount}} {{meal.unit}}</td>
				<td>{{meal.givenBy}} {{meal.feedingStoredAt | date:short}}</td>
				<td><span class="glyphicon glyphicon-trash" style="cursor:pointer;" ng-click="deleteFeeding(meal)">&nbsp;</span></td>
			</tr>
			<tfoot>
				<tr>
					<td>Summa</td>
					<td colspan="3">{{sumAmount}} ml</td>
				</tr>
			</tfoot>
		</table>

		<a href="/#/foodStatistics/">Sammanställning, senaste månadens matning</a>

<!-- </div> --> <!-- end page-content -->
