<div style="margin:2em 2em">
	<h1>Vem är du?</h1>

	<div ng-if="showLoginRequiredMessage" class="alert alert-warning alert-dismissible" style="margin-top: 2em;" role="alert" id="authRequiredAlert">
		Sidan du försökte visa kräver inloggning.
	</div>

	<form ng-submit="attemptLogin()">
			<div class="form-group">
					<label for="inputEmail" >Email</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="credentials.username" />
			</div>
			<div class="form-group">
					<label for="inputPassword">Lösenord</label>
					<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="credentials.password" />
			</div>
			<div class="form-group">
					<div class="checkbox">
							<label><input type="checkbox"> Kom ihåg mig 7 dagar</label>
					</div>
			</div>
			<div class="form-group">
					<button type="submit" class="btn btn-primary">Login</button>
			</div>
	</form>

	<div ng-if="loginFailed" class="alert alert-danger alert-dismissible" style="margin-top: 2em;" role="alert" id="loginFailedAlert">Inloggningen misslyckades</div>


</div>
