/**
 *
 */

.page-content {
	margin: 1em;
}

/* Log medicines styles */
.medicineGiven td{
	font-style: italic;
}
.stateStored td.medicineName{
	text-decoration: line-through;
}

tfoot tr td {
	font-weight: bold;
	font-size: 1.5em;
}

.loggedInAs {
	text-align: right;
	font-style: italic;
	color: #ccc;
}
